<script src="html5-qrcode.min.js"></script>
<style>
  .result{
    background-color: green;
    color:#fff;
    padding:20px;
  }
  .row{
    display:flex;
  }
</style>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://unpkg.com/html5-qrcode@2.0.9/dist/html5-qrcode.min.js"></script>
  <title>Scan QR</title>
</head>
<body>

  <div id="qr-reader" style="width: 600px"></div>

<div class="row">
  <div class="col">
    <div style="width:500px;" id="reader"></div>
  </div>
  <div class="col" style="padding:30px;">
    <h4>ABRIR CAMARA</h4>
    <div id="result">RESULTOVICH</div>
  </div>
</div>

<input type="text" id="res">


<script type="text/javascript">

  function obtenerRUN(url) {
    const regex = /RUN=([^&]*)/;
    const match = url.match(regex);
    if (match) {
      return match[1];
    } else {
      return null;
    }
  }
function onScanSuccess(qrCodeMessage) {

    const rutovich = obtenerRUN(qrCodeMessage);
    let container = document.getElementById('contenedordatos');
    ruts.push(rutovich);
    document.getElementById('result').innerHTML = '<span class="result">'+rutovich+'</span>';

    container.value = ruts;

}
function onScanError(errorMessage) {
  //handle scan error
}
var html5QrcodeScanner = new Html5QrcodeScanner(
    "reader", { fps: 10, qrbox: 250 });
html5QrcodeScanner.render(onScanSuccess, onScanError);

</script>


</body>
</html>