<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    
    <title>Editar</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-mi-color">
        <div class="container-fluid">
            <a class="navbar-brand" href="">
                <img src="logotipo.png" style="width: 150px; height: 30px;" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse " id="navbarNav">

                <ul class="navbar-nav px-5">

                    <li class="nav-item mx-2">
                        <a class="nav-link negro" style="color: #02416d" href="/"> INICIO </a>
                    </li>
                    <li class="nav-item mx-2">
                        <a class="nav-link negro"  style="color:#02416d" href="registros"> REGISTROS </a>
                    </li>

                </ul>
            </div>
        </div>
        <div>

            <a class="navbar-brand" href="/login">
                <img src="usuario.png" style="width: 40px; height: 40px;" alt="">
            </a>
        </div>
    </nav>




    <!-- ACÃ
    <% if(tipo){ %>
    <div class="container mt-4">
        <div class="card border-secondary">
            <div class="card-header">Editar registro</div>
            <div class="card-body">
                <form action="/cambiarTipoUsuario" method="POST">
                    <input type="text" id="id" name="id" value="<%= tipo.id %>" hidden>
                    <div class="mb-3">
                        <label for="user" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="nombre" name="nombre" tabindex="1" value="<%= tipo.nombre %>">
                    </div>
                    <button type="submit" class="btn btn-primary" tabindex="5">Guardar</button>
                    <a href="/" class="btn brn-secondary">Cancelar</a>
                </form>
            </div>
        </div>
    </div>
    <% } %>
    -->
    
</body>
</html>