<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Sala de estudio</title>
</head>

<body style="display: flex; flex-direction: column; min-height: 100vh;">
    
    <!-- INICIO NAV-->
    <nav class="navbar navbar-expand-lg navbar-dark morado">
        <div class="container-fluid">
            <a class="navbar-brand m-l-50" href="#"><img src="logo.png" height="50px" alt=""></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">

                <ul class="navbar-nav px-5">

                    <li class="nav-item mx-2">
                        <a class="nav-link" href="/inicio"> INICIO </a>
                    </li>

                    <li class="nav-item mx-2">
                        <a class="nav-link" href="registros"> REGISTROS </a>
                    </li>

                    <li class="nav-item mx-2">
                        <a class="nav-link" href="/crudusuario"> USUARIOS </a>
                    </li>

                    <li class="nav-item mx-2">
                        <a class="nav-link" href="/crudtipo"> TIPOS USUARIOS </a>
                    </li>

                    <li class="nav-item mx-2">
                        <a class="nav-link" href="/crudsalas"> SALAS </a>
                    </li>

                </ul>
            </div>
        </div>
        <div>

            <a class="navbar-brand" href="">
                <img src="/usuario.png" style="width: 40px; height: 40px;" alt="">
            </a>
        </div>
    </nav>
    <!-- FIN NAV-->
    <br><br><br>

    <DIV>
        <div class="text-c">
            <H1 style="font-size: 50px;">SALAS DE ESTUDIO</H1>
            <p>
                <span style="background-color: #0656ce; padding: 0.2em 0.8em; margin: 1em 1em; border-radius: 100%;"></span>DISPONIBLE
                <span style="background-color: #ffc107; padding: 0.2em 0.8em; margin: 1em 1em; border-radius: 100%;"></span>OCUPADA
                <span style="background-color: #dc3545; padding: 0.2em 0.8em; margin: 1em 1em; border-radius: 100%;"></span>INHABILITADO
            </p>
        </div>
    </DIV>


    <div class="container-fluid p-5">
        
        <div class="row">
            <% results.forEach((salas) => { %>
            <div class="col-md-4">
                <div class="card text-dark shadow bg-light p-3 mt-5 " style="width: 28rem;">
                    <div class="card-body">
                        <h5 class="card-title">Sala de estudio numero <%= salas.numero_sala %></h5>
                        <h6 class="card-subtitle mb-2 text-muted">Estado: <%= salas.estado %></h6>
                        <p class="card-text">Sala de estudio con capacidad para <%= salas.capacidad %> personas</p>
                        
                        <% if(salas.estado == 'Disponible'){ %>
                        <a href="/solicitud/<%= salas.sala_id %>" class="btn w-100 pt-2 btn-101" id="submit-btn">Solicitar sala de estudio</a>
                        <% }else if(salas.estado == 'Deshabilitada'){ %>
                        <a class="btn btn-danger w-100">Imposible Solicitar</a>
                        <% }else{%>
                            <a class="btn btn-warning w-100">Ocupada en este momento</a>
                        <% }%>
                        
                    </div>
                </div>
            </div>
            <%})%>
        </div>
    </div>

    <footer class="text-center text-white" id="submit-btn" style="bottom: 0; width: 100%; margin-top: auto;">
        <div class="container p-2 pb-0">
          <div class="row">
            <div class="col-lg-6">
                <h5>Dirección de la empresa</h5>
                <p> Picarquin, Pasaje 1 - #1388 </p>
            </div>

            <div class="col-lg-6">
                <h5>Correo electrónico</h5>
                <p>gestor.salas@empresa.com </p>
            </div>

        </div>
        </div>
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
          © 2023 Copyright: Gestor de salas, derechos reservados
        </div>
    </footer>

    

</body>
</html>