<!DOCTYPE html>
<html lang="es">
  
<head>
  <meta charset="UTF-8">
  <title>Formulario Bootstrap</title>
  <!-- Incluir los estilos de Bootstrap -->
  <script src="userlist.js"></script>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            <h4 class="mb-0">Formulario de Ingreso</h4>
          </div>
          <div class="card-body">


            <form>
              <div class="form-group">

                <label for="rut">RUT</label>
                <input type="text" class="form-control" id="rut" name="rut" placeholder="Ingrese el rut">
              
              </div>
              <button type="button" onclick="addelement();" class="btn btn-primary">Agregar</button>
            </form>


          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            <h4 class="mb-0">Alumnos Ingresados </h4>
          </div>
          <div class="card-body">
            
            <form method="POST" action="/GuardarSolicitud">

              <div id="resultado">

              </div>

              <input type="text" value="" id="contenedordatos">
              <br>
              <button type="submit" class="btn btn-primary mt-2 ">Generar Solicitud</button>
            </form>


          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Incluir los scripts de Bootstrap -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


</body>

</html>
