@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.bg-mi-color {
    background-color: white;
    border-bottom: 1px solid #e3e3e3;

}

.morado {
    background-color: #172cd7;
}

.moradoclaro {
    background-color: #78a3f1;
}

.text-c{
    text-align: center;
}

.text-c h1{
    font-family: bebas neue; color: #3a4cd5;
}

.transUp {
    transition: .5s, color .10s;
    -webkit-transition: .5s, color .10s;
    -moz-transition: .5s, color .10s;
}

.transUp:hover {
    transform: translatey(-20px);
    -webkit-transform: translatey(-20px);
    -moz-transform: translatey(-20px);
}

#titlecard{
    background-color: #3a4cd5;
    color: white;
}

#titletable{
    background-color: #172cd7;
    color: white;
}

#margintable{
    margin: 0% 5% 0% 5%;
}

#submit-btn{
    background-color:   #0656ce ;
    color: white;
}

#cancel-btn{
    background-color:   #648c9c;
    color: white;
}