@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.bg-mi-color {
    background-color: white;
    border-bottom: 1px solid #e3e3e3;

}

.morado {
    background-color: #172cd7;
}

.moradoclaro {
    background-color: #78a3f1;
}

.text-c {
    text-align: center;
}

.text-c h1 {
    font-family: bebas neue;
    color: #3a4cd5;
}

.transUp {
    transition: .5s, color .10s;
    -webkit-transition: .5s, color .10s;
    -moz-transition: .5s, color .10s;
}

.transUp:hover {
    transform: translatey(-20px);
    -webkit-transform: translatey(-20px);
    -moz-transform: translatey(-20px);
}

.m-l-50 {
    margin-left: 50px;
}

.pt-4 {
    padding-top: 4%;
}

.ptb-3 {
    padding: 3% 0% 2% 0%;
}

.mtb-1 {
    margin: 0.5% 0% 1% 0%;
}

.w-100 {
    width: 100%;
}

#titlecard {
    background-color: #3a4cd5;
    color: white;
}

#titletable {
    background-color: #172cd7;
    color: white;
}

#margintable {
    margin: 0% 5% 0% 5%;
    padding-bottom: 2%;
}

#submit-btn {
    background-color: #0656ce;
    color: white;
}

#cancel-btn {
    background-color: #648c9c;
    color: white;
}




 /* The side navigation menu */
 .sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    right: 0;
    background-color: #172cd7; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s;
    padding: 20px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  } 